@import "tailwindcss";

:root {
  --background: #fffafa; /* very bright snowy pink/white */
  --foreground: #4a4a4a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-quicksand), var(--font-nunito), Arial, sans-serif;
  
  --color-pastel-pink: #ffd6e0;
  --color-pastel-blue: #bee3f8;
  --color-pastel-yellow: #fcf4dd;
  --color-pastel-cream: #fffafa;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
